.list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.products{
  border-radius: 2em;
  background: #ffffff;
  width: calc(40% - 40px);
  padding: 40px 20px 40px 20px;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 15%);
  text-align: inherit;
  margin-top: 3em;
}

.product-container{
  text-align: center;
}

.content{
  font-weight: 500;
  font-size: 17px;
  color: #010101;
  line-height: 26px;
}

.product-car{
  margin-top: 2em;
}

.title{
  display: flex;
  align-items: baseline;
  justify-content: center;
}
