<app-header></app-header>

<div id="page" class="site">
  <div class="page-header container">
      <div class="text">
        <h2 class="info-header">DEDUCA MARKETPLACE</h2>
        <p class="info-body">
          Deduca Marketplace é uma plataforma voltado para os produtos da empresa delinea tech.
        </p>
      </div>
      <div class="undraw">
        <img src="../../../assets/undraw.svg.svg" alt="" id="image-undraw">
    </div>
  </div>
  <div class="page-list-product">
    <main>
      <app-products></app-products>
    </main>
  </div>
</div>
