*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  font: inherit;
  vertical-align: baseline;
}

main {
  width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

input{
  outline: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.msg-sucess {
  background-color: #28a745;
  color: #fff;
}

.msg-error {
  background-color: rgb(227, 94, 107);
  color: #fff;
}
